# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# Data files (too large for GitHub)
data/raw/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/